body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.my-message, .other-message {
    text-align: left;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: fit-content;
    max-width: 60%
}

.my-message {
    background-color: #E3F2FD;
    display: inline-block;
}

.other-message {
    background-color: #E6E6E6;
    margin-left: auto;
    display: inline-block;
}

/* 메시지 컨테이너에 대한 스타일 */
#greetings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.system-message {
    color: gray;
    font-style: italic;
    text-align: center;
    margin: 5px 0;
}
